@using Jobs4Developers.Models
@model Company
@{
    ViewBag.Title = "Index";
    ICollection<Offer> listOffres = ViewBag.ListOffres as ICollection<Offer>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img style="width:inherit; height:100px;" src="~/Content/Images/noUser.jpg" />
        </div>
        <div class="col-md-3">
         @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        </div>
        
    </div>
    <div class="row">
        <h2 class="bold">@Model.Name</h2>
    </div>
    <div class="row">
        <h2 class="bold">Description</h2>
        <hr />
        <div class="col-md-9">
            @Model.Description
        </div>
    </div>

   
    <div class="row">
        <h2 class="bold">Languages</h2>
        <hr />
        <ul>
            @if (Model.Languages != null && Model.Languages.Count != 0)
            {
                foreach (Language l in Model.Languages)
                {
                    <li>

                        @l.Name


                    </li>
                }
            }
            else
            {
                <text>Please Edit your profile and choose your programming language</text>
            }

        </ul>

        

      

    </div>

    <div class="row">
        <h2 class="bold">Job offers</h2>
        <hr />
        <ul>
            @if (listOffres != null && listOffres.Count != 0)
            {
                foreach (Offer h in listOffres)
                {
                    <li>

                        @h.Description


                    </li>
                }
            }
            else
            {
                <text>Pas d'offre d'emplois pour l'instant </text>
            }

        </ul>



        @Html.ActionLink("Add new offer", "Add", "Offer", null)

    </div>
    <div class="row">
        <h2 class="bold">Contact Us</h2>
        <hr />
        <div class="row">
            <div class="col-md-1">
                Adresse :&nbsp;
            </div>
            <div class="col">
                @Model.Adresse
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                Email :&nbsp;
            </div>
            <div class="col">
                @Model.Email
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                Phone :&nbsp;
            </div>
            <div class="col">
                @Model.PhoneNumber
            </div>
        </div>
    </div>

</div>

   
    

  


