@using Jobs4Developers.Models

@model Tuple<WorkExperience, RegisterViewModel>
@{
    ViewBag.Title = "add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complete your registration.</h2>
<hr />

<div class="container">
    @* A bit about me. *@
    <div class="row ">
        <div class="col-md-10 ">
            <h2> A bit about me.</h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 ">
                            <img style="width:inherit; height:150px;" src="~/Content/Images/noUser.jpg" />
                        </div>
                    </div>
                </div>
              
                <div class="col-md-8 " id="resultWorkExperience">
                    <a id="LinkaddWorkExpérience" data-toggle="modal" data-target="#aBitAboutMe" href="">Add your name and your description</a>
                </div>
               
            </div>
        </div>
    </div>
</div>


@*A bit about me Modal*@
<div class="modal fade" id="WorkExperience">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Add your name and your discription</h3>
            </div>
            @using (Html.BeginForm("addWorkExperience", "WorkExeprience", FormMethod.Post, new { id = "myFormWorkExperience" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="modal-body ">
                    <div class="form-horizontal col-md-offset-2">

                        <div class="form-group ">
                            @Html.LabelFor(model => model.Item1.JobPosition, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Item1.JobPosition, new { @class = "form-control", placeholder = "Put your job position" })
                                @Html.ValidationMessageFor(model => model.Item1.JobPosition)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Item1.StartDate, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Item1.StartDate, new { @class = "form-control MyDate", placeholder = "Enter Drop-off date here..." })
                                @Html.ValidationMessageFor(model => model.Item1.StartDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Item1.EndDate, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Item1.EndDate, new { @class = "form-control MyDate", placeholder = "Enter Drop-off date here..." })
                                @Html.ValidationMessageFor(model => model.Item1.EndDate)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textArea" class="col-md-2 control-label">Discription</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Item1.Description, new { @class = "form-control", @cols = "80", @rows = "4", placeholder = "Put your discription" })
                                @Html.ValidationMessageFor(model => model.Item1.Description)
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Ok" class="btn btn-primary"  />
                </div>

            }

        </div>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {

            $('.MyDate').datepicker();

            $('#myFormWorkExperience').on("submit", function (e) {
                e.preventDefault();            
                $('#myFormWorkExperience')
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data != "<div>empty</div>") {
                            $('#resultWorkExperience').append(data);
                            $("#WorkExperience").modal("hide");
                        }       
                    }
                });              
            });

            $("#LinkaddWorkExpérience").click(function () {
                $("#myFormWorkExperience").get(0).reset()
                $(".field-validation-valid").empty();
            });
           
        });
    </script>
}

@section AddToHead{
    <link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
}
